/* we'll test a stylesheet */

/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

body {
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px;
}

h1 {
	font-size: 2rem;
}